log/*.log
tmp/**/*
tmp
test
coverage
config/database.yml
config/database.yml.bak
config/virtualserver
config/mailer.yml*
config/s3.yml*
config/*.pem
.DS_Store
doc
log
data
db/*.sqlite3*
db/backup/*
public/sitemap.xml.gz
public/stylesheets/screen.css
public/constituencies
public/postcodes
public/search
public/postcodes.bak
db/development_structure.sql
cucumber.yml
cucumber_growler
features.html
features.txt
features.pdf
*~
*#
FYMP*
config/newrelic.yml
vendor/plugins/newrelic_rpm/*
