log/*.log
tmp/**/*
test
coverage
config/database.yml
config/database.yml.bak
config/virtualserver
config/mailer.yml*
.DS_Store
doc
data
db/*.sqlite3*
public/stylesheets/*.css
public/postcodes
public/postcodes.bak
db/development_structure.sql
cucumber.yml
cucumber_growler
*~
*#