log/*.log
tmp/**/*
test
Capfile
config/database.yml
config/database.yml.bak
config/deploy.rb
config/virtualserver
.DS_Store
doc
data
db/*.sqlite3*
public/postcodes
public/postcodes.bak
db/development_structure.sql
