-@title = 'Edit constituency list | Admin'

- form_tag('/constituency_list', :method=>:put) do
  %p.text
    = text_area :constituency_list, :items, :size=>'80x646'
  %p.text
    = submit_tag "Update constituencies"

