- @crumbtrail = link_to_admin_home
- @title = 'Edit constituency list'

- form_tag('/constituency_list', :method=>:put) do
  %p.text
    = text_area :constituency_list, :items, :size=>'90x646'
  %p.text
    = submit_tag "Update constituencies"

