- @crumbtrail = link_to_admin_home
- @title = 'Sent Messages'

.column_content
  %table.text
    %tr
      %th Month
      %th Message count
    - @sent_by_month_count.reverse.each do |month, count|
      %tr
        %td= link_to_sent_in_month(month)
        %td{:style=>'text-align: right'}= number_with_delimiter(count)

  %p.text
    = '&nbsp;'
  %p.text
    = link_to 'Admin home', admin_url
