- @crumbtrail = link_to_admin_home
- @title = 'Waiting to be sent'

.column_content
  -if @waiting_to_be_sent_by_month_count.blank?
    %p.text There are no emails waiting to be sent.
  -else
    %table.text
      %tr
        %th Month
        %th Message count
      - @waiting_to_be_sent_by_month_count.each do |month, count|
        %tr
          %td= month.to_s(:month_year)
          %td{:style=>'text-align: right'}= number_with_delimiter(count)
  %p.text
    = '&nbsp;'


