body
  :font-size 1em
  :margin 5% 10%
  :font-family sans-serif

#search input
  :font-size 1.5em

a
  :text-decoration none

input
  :font-size 1em

.fieldWithErrors input, .fieldWithErrors textarea
  :border solid 1px #cc0000
  :background-color #ffcccc

label
  :width 20%
  :float left
  :text-align right
  :margin-right 0.5em
  :display block
