body
  :font-size 1em
  :font-family "Lucida Grande", Verdana, Arial, Helvetica, sans-serif
  :line-height 140%
  :width 47.5em
  :margin 2% auto

h1
  :font-size 100%

.fieldWithErrors input, .fieldWithErrors textarea
  :border solid 1px #cc0000
  :background-color #ffcccc

label
  :width 12em
  :float left
  :text-align right
  :margin-right 0.5em
  :display block

#header
  :border-bottom 1pt solid #666

#search
  :padding-top 1em

#help
  :display inline

#footer
  :border-top 1pt solid #666

#admin-button
  :margin-top 3em

#copyright
  :display inline

.postcode, code
  :font-size 140%
  :font-weight bold

.highlight
  :background yellow

.hidden_member
  :color grey
  :font-style italic