body
  :font-size 1em
  :margin 4% 8%
  :font-family "Lucida Grande", Verdana, Arial, Helvetica, sans-serif
  :line-height 140%
  :width 47.5em
  :margin auto

#search input
  :font-size 1.5em

input
  :font-size 1em

.fieldWithErrors input, .fieldWithErrors textarea
  :border solid 1px #cc0000
  :background-color #ffcccc

label
  :width 20%
  :float left
  :text-align right
  :margin-right 0.5em
  :display block
  
#header
  :margin-bottom 2em
