/* ie8.css */
/***********/

FIELDSET.site-search OL{
	margin-left:210px;
}

FIELDSET.site-search INPUT,
#contact-us DIV.submission INPUT,
#calendar FIELDSET INPUT{
	padding:3px 8px;
}

#find-your-mp INPUT.find{
	padding:0 10px;
}

/* Members, Lords and Offices */
/******************************/

.mlo #members-filter-listing FIELDSET INPUT{
	padding-left:5px;
	padding-right:5px;
}

/* Education */
/*************/

.resource .inner{
	min-height:130px;
}

/* Homepage 2010 */
.home fieldset.site-search ol #search {left:-95px;height:18px}