/* print.css */
/************/

H1,
H2,
H3,
H4{
	clear:both;
}

H4.marker,
#header FIELDSET,
UL#level-1,
UL#level-2,
#secondary-navigation,
UL.print-email,
UL.arrows-previous-next,
#members-filter-listing FIELDSET,
#members-filter-listing .a-to-z-listing,
.pagination,
#inquiries .thumbnail-image-list LI A,
.news-listing .thumbnail-image-list LI A,
#inquiries H4,
.publications-and-records,
#page-heading,
#fat-footer,
#panel,
#footer{
	display:none;
}

TABLE{
	border:solid 1px #cfcfcf;
	border-collapse:collapse;
}

TH{
	text-align:left;
}

TH,
TD{
	padding:3px 6px;
}

A IMG{
	border:none;
}

.thumbnail-image-list UL LI,
UL.collections-thumbnails LI{
	list-style-type:none;
}

.thumbnail-image-list UL,
UL.collections-thumbnails,
.a-to-z-listing UL{
	margin:0;
	padding:0;
}

.thumbnail-image-list UL LI EM{
	display:block;
}

UL.square-bullets A{
	margin-right:5px;
}

.a-to-z-listing UL{
	margin-bottom:15px;
	min-height:1px;
}

.a-to-z-listing UL LI{	
	float:left;
	list-style-type:none;
	margin-right:8px;
}

.a-to-z-listing UL.square-bullets{
	clear:left;
}

#content .a-to-z-listing UL.square-bullets LI{
	float:none;	
	list-style-position:inside;
	list-style-type:disc;		
}

.a-to-z-listing P{
	clear:left;
}

.a-to-z-listing UL:after{
	clear:both;
	content:".";
	display:block;
	height:0;	
	visibility:hidden;
}