-@title = 'API'
-@crumbtrail = 'API'

%div.text.flash= flash[:not_found] if flash[:not_found]

%p.text The API for the Find Your MP service provides output in several standard formats.

%h3 Postcodes


%h3 Postcode areas



%h3 Constituencies



