-@title = 'API'
-@crumbtrail = 'API'

%div.text.flash= flash[:not_found] if flash[:not_found]

%p.text The Find Your MP service provides output in several formats in addition to HTML - XML, JSON, Javascript, plain text, comma separated values and YAML.

%p.text You can query the service using the following URL format: <b><code>api/search?q=YOUR_SEARCH_TERM&format=YOUR_DESIRED_FORMAT</code></b>, where <b><code>YOUR_SEARCH_TERM</code></b> should be replaced with whatever you wish to search for and <b><code>YOUR_DESIRED_FORMAT</code></b> with one of XML, JSON, JS, TEXT, CSV, or YAML.

%p.text There are currently no usage limits to the API, but they may be introduced in future.

