- @title = 'Register user'

- form_for @user, :url => account_path do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  %p
    = f.submit "Register"
= link_to 'Admin home', admin_path
