%p.text
  = link_to("#{highlight(h(constituency_match.name), @search_term)}", constituency_path(:id=>constituency_match.friendly_id))
  = "&mdash; #{constituency_match.member_name}" if constituency_match.member_name
