%p
  %strong
    = link_to("#{highlight(h(constituency_match.name), @search_term)}", constituency_path(constituency_match))
    - if constituency_match.member_name
      = "(#{constituency_match.member_name})"