- constituency = member_match
%p
  %strong
    = link_to "#{highlight(h(constituency.member_name), @search_term)}", constituency_path(constituency)
  - if constituency.name
    = "(#{constituency.name})"