.text
  - if @constituency.no_sitting_member?
    %p There is no sitting Member of Parliament for this constituency.
  - else
    - member_name = h(@constituency.member_name)
    .row_item
      .row_label Member for this constituency
      .row_value
        - if @constituency.member_biography_url?
          = link_to member_name, @constituency.member_biography_url
        - else
          = member_name
    .row_item
      .row_label Party
      .row_value= h(@constituency.member_party)
    - if @constituency.member_website?
      .row_item
        .row_label Website
        .row_value
          = link_to h(@constituency.member_website.sub('http://','').chomp('/')), @constituency.member_website
