%h1
  New constituency

= error_messages_for :constituency 

-form_for(@constituency) do |f| 
  %p
    %b Name
    %br
    = f.text_field :name 

  %p
    = f.submit "Create"
= link_to 'Back', constituencies_path 