%p
  %b Constituency:
  =h @constituency.name
- unless @constituency.member_name.blank?
  %p
    %b Member:
    =h @constituency.member_name
- else
  %p
    %b Vacant

%p
  = link_to 'Edit', edit_constituency_path(@constituency)
  = link_to 'Back', constituencies_path