%results
  - if @constituency
    = render :partial => 'constituencies/constituency', :object => @constituency
  - else
    - if @constituencies
      %constituencies
        = render :partial => 'constituencies/constituency', :collection => @constituencies
    - if @members
      %members
        = render :partial => 'constituencies/constituency', :collection => @members
