<%@title = "General Election"%>

<div class="text">
	<p>
	  There is currently a General Election. We will change the service to allow users to discover the constituency they will be voting in using their postcode. In the meantime please use <a href="http://www.aboutmyvote.org.uk/">aboutmyvote.org.uk</a> to find out more about voting in the General Election and <a href="http://www.election-maps.co.uk">www.election-maps.co.uk</a> if you want to use your postcode to find your constituency.
	</p>
	<p>
	  If you have questions, please call the House of Commons Information Office on 020 7219 4272.
	</p>
</div>