<%@title = "General Election"%>

<div class="text">
	<p>
	  Following the Dissolution of Parliament on 12 April there are currently no Members of Parliament until the General Election on 6 May. We will be changing the Find Your MP service to allow users to discover which constituency they will be voting in using their postcode. In the meantime please use <a href="http://www.aboutmyvote.org.uk/">aboutmyvote.org.uk</a> to find out more about voting in the General Election and <a href="http://www.election-maps.co.uk">www.election-maps.co.uk</a> if you want to use your postcode to find your constituency.
	</p>
	<p>
	  If you have questions, please call the House of Commons Information Office on 020 7219 4272.
	</p>
</div>