%h2 Message Audit

%p
  Sent messages:
  = @sent_message_count
%p
  Attempted to send messages:
  = @attempted_send_message_count
%p
  Draft messages:
  = @draft_message_count

- unless @messages.empty?
  %table
    %tr
      - @messages.first.attributes.each do |name,value|
        - unless name[/message|authenticity_token/]
          %th=name

    - @messages.each do |message|
      %tr
        - message.attributes.each do |name, value|
          - unless name[/message|authenticity_token/]
            %td=value
