- @meta_description = "Find Your MP - Find out which constituency you are in and who your Member of Parliament is by entering your postcode, your MP's name or your constituency."

#search
  =render :partial => 'layouts/search_form'
  =render :partial => 'layouts/search_hints'
