%html
  %head
    %title Find your constituency
  %body
    %div
      %p
        Postcodes:
        = number_with_delimiter(@postcode_count)
      %p
        Constituencies:
        = @constituency_count
      - if flash[:notice]
        #notice= flash[:notice]
      #search= render :partial => 'search_form'
