%postcode
  %code= @postcode.code_with_space
  %constituency-name= @postcode.constituency_name.gsub('&','&amp;')
  - if @postcode.member_name
    %member= @postcode.member_name
  %uri= url_for :controller=>"postcodes", :action=>"show", :postcode => @postcode.code, :format => "xml", :only_path => false
