- @title= @postcode.code_with_space

%p<
  = "POSTCODE<br/><strong>#{@postcode.code_with_space}</strong>"
  - if @constituency
    = render :partial => 'constituencies/constituency', :object => @constituency
- unless @constituency
  %p No constituency found.

%p{:style=>'float: right'}
  = postcode_format_links
