%p.text This service will recognise postcodes and names of MPs or constituencies, or fragments of these. If you are unsure of the name of your MP or constituency it may be easier to try searching by postcode.

%p.text If you have any queries about the Find Your MP service, please call the House of Commons Information Office on 020 7219 4272.