- search_term = @last_search_term ? @last_search_term : ''

- form_tag(root_url, :method => :get) do
  = text_field_tag 'search_term', search_term, :size => 24
  = submit_tag 'Search'

%div.flash= flash[:not_found] if flash[:not_found]

%p What can I search for?

%ul.search-tips
  %li Your full post code, like <strong>SW1A 1AA</strong>, to find your constituency and MP
  %li Your constituency name, like <strong>Kirkcaldy and Cowdenbeath</strong>, to find your MP
  %li Your MP's full name, like <strong>Lyn Brown</strong>, to find your MP
  %li Part of your constituency name, like <strong>shire</strong>, to list constituencies and MPs with that text
  %li Part of your MP's name, like <strong>Thorn</strong>, to list constituencies and MPs with that text


