- search_term = @last_search_term ? @last_search_term : ''

- form_tag('/', :method => :get) do
  = text_field_tag 'search_term', search_term, :size => 24
  = submit_tag 'Search'

%div.flash= flash[:not_found] if flash[:not_found]

%p What can I search for?

%ul.search-tips
  %li Your full post code, like <code>SW1A 1AA</code>, to find your constituency and MP
  %li Your constituency name, like <code>Kirkcaldy and Cowdenbeath</code>, to find your MP
  %li Your MP's full name, like <code>Lyn Brown</code>, to find your MP
  %li Part of your constituency name, like <code>shire</code>, to list constituencies and MPs with that text
  %li Part of your MP's name, like <code>Thorn</code>, to list constituencies and MPs with that text


