%html
  %head
    %title Find your constituency
    <style>body {margin: 5em 10em;}</style>
  %body
    - if flash[:notice]
      #notice= flash[:notice]
    #search= render :partial => 'search_form'
    =yield