<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<HTML lang=en><HEAD><TITLE>UK Parliament - Find Your MP - <%= @title %></TITLE>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
<META http-equiv=Pragma content=no-cache>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=expires content=0>
<base href="http://www.upmystreet.com/i/hcoi/" />
<META content="This is the about section." name=description>
<META content="" name=keywords><LINK media=screen
href="/c/cobrands/global.css" type=text/css rel=stylesheet><LINK
media=print href="/c/cobrands/global_print.css" type=text/css
rel=stylesheet>
<STYLE media=screen>.pagebg {
	BACKGROUND-IMAGE: url(http://www.parliament.uk/images/home_back.gif)
}
</STYLE>

<META content="MSHTML 6.00.2900.2769" name=GENERATOR></HEAD></head>
<body>

	<a name="top"></a>
	<div id="container">

		<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
	<title>UK Parliament</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta http-equiv="Pragma" content="no-cache">

	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" media="screen" href="http://www.parliament.uk/styles/global.css">
	<link rel="stylesheet" type="text/css" media="print" href="http://www.parliament.uk/styles/global_print.css">
<style media="screen" type="text/css">
	.pagebg{background-image: url(home_back.gif)}
	
<!--	.normaltext { font-size:80%; } -->
</style>
</head>
<body class="peopleBody">
<div id="banner">

	<img src="printheader_parl.gif" alt="The United Kingdom Parliament" width="620" height="60" border="0"><br />
</div>
<table border="0" cellspacing="0" cellpadding="0" class="maintable">
<tr valign="top" id="screen">
	<td style="background-image: url(bk_grey.gif); background-repeat: repeat-x; height: 29px;" colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="770">
		<tr>
			<td style="padding-left: 10px;"><a href="http://www.parliament.uk/index.cfm"><img src="/i/hcoi/parliament_logo.gif" title="United Kingdom Parliament" alt="United Kingdom Parliament" width="155" height="22" border="0"></a></td><td width="615"><table cellpadding="0" cellspacing="0" border="0" align="right">
			<tr>
				<td><div class="buttonhomeFirst"><a href="http://www.parliament.uk/index.cfm">HOME</a></div></td>
				<td><div class="buttonabout"><a href="http://www.parliament.uk/about/index.cfm">ABOUT</a></div></td>

				<td><div class="buttonmembers"><a href="http://www.parliament.uk/people/index.cfm">MEMBERS &amp; STAFF</a></div></td>
				<td><div class="buttonbusiness"><a href="http://www.parliament.uk/business/index.cfm" class="topLinks">BUSINESS</a></div></td>
				<td><div class="buttonrecords"><a href="http://www.parliament.uk/publications/index.cfm" class="topLinks">PUBLICATIONS</a></div></td>
				<td><div class="buttongeneric"><a href="http://www.parliament.uk/index/index.cfm" class="topLinks">A-Z INDEX</a></div></td>
				<td><div class="buttongeneric"><a href="http://www.parliament.uk/glossary/glossary.cfm" class="topLinks">GLOSSARY</a></div></td>

				<td><div class="buttongeneric"><a href="http://www.parliament.uk/site_information/contact_us.cfm" class="topLinks">CONTACT</a></div></td>
			</tr>
			</table></td></tr>
		</table></td>
</tr>
<tr valign="top" id="screen">
	<td><table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td width="501"><img src="/i/hcoi/members_staff.gif" title="Members &amp; staff" alt="Members &amp; staff" width="501" height="37" border="0"></td><td style="background-image: url(bk_blue.gif); background-repeat: repeat-x; height: 37px;"><form name="form" action="http://www.publications.parliament.uk/cgi-bin/search.pl" method="post" style="margin-bottom: 0px"><table cellpadding="0" cellspacing="0" border="0">

<tr>
	<td><img src="/i/hcoi/trans.gif" width="4" height="1" border="0" alt="" /></td>
	<td><input type="text" name="QUERY00" id="search" class="searchBox"></td>
	<td><img src="/i/hcoi/trans.gif" width="4" height="1" border="0" alt="" /></td>
	<td><input type="image" src="/i/hcoi/search.gif" alt="search" name="CMD=search.run" /></td>
	<td><img src="/i/hcoi/trans.gif" width="4" height="1" border="0" alt="" /></td><td><a href="http://www.publications.parliament.uk/cgi-bin/dialogserverTSO?DB=ukparl" class="advSearchText">Advanced search</a></td>
</tr>
</table>
<input type="hidden" name="STYPE" value="SIMPLE">
<input type="hidden" name="DB" value="semsimple">
<input type="hidden" name="SHOWCONCEPT" value="1">

<input type="hidden" name="ORGANISE_CODED" value="RW:date">
<input type="hidden" name="PSESS" value="2003-2004">
	<input type="hidden" name="B" value="G7200304"><input type="hidden" name="PSESS" value="2004-2005">
	<input type="hidden" name="B" value="G7200405"><input type="hidden" name="PSESS" value="2005-2006">
	<input type="hidden" name="B" value="G7200506"><input type="hidden" name="PSESS" value="2006-2007">
	<input type="hidden" name="B" value="G7200607">
</form></td>
	</tr>
	</table></td>
</tr>
<tr>

	<td class="smenumembers"><table cellpadding="0" cellspacing="0" border="0" class="smenutablemembers" width="770">
		<tr>
			<td align="left"><table cellpadding="0" cellspacing="0" border="0" align="left">
				<tr>
					<td class="smenutdfirstmembers">&nbsp;</td><td class="smenutdmembers" align="center"><a href="http://www.parliament.uk/people/mps_and_lords.cfm" class="submenuitems">MPs and Lords</a></td><td class="smenutdmembers" align="center"><a href="http://www.parliament.uk/people/government_and_opposition.cfm" class="submenuitems">Government and Opposition</a></td><td class="smenutdmembers" align="center"><a href="http://www.parliament.uk/people/parliamentary_offices.cfm" class="submenuitems">Offices</a></td><td class="smenutdmembers" align="center"><a href="http://www.parliament.uk/people/standards.cfm" class="submenuitems">Standards</a></td><td class="smenutdmembers" align="center"><a href="http://www.parliament.uk/people/finances.cfm" class="submenuitems">Finances</a></td><td class="smenutdlastmembers"></td>
				</tr></table></td>

		</tr>
	</table></td>
</tr>
<!-- START: Breadcrumb -->
<tr id="screen">
	<td class="breadcrumb" colspan="4">

<span class="breadcrumbtext">You are here:</span>
<a href="http://www.parliament.uk/index.cfm" class="breadcrumblink">Parliament Home Page</a>

<span class="breadcrumbtext">&gt;</span>

<a class="breadcrumblink" href="http://www.parliament.uk/people/index.cfm"
<span class="breadcrumbtext">Members & Staff</a></span>

<span class="breadcrumbtext">&gt;</span>

<a class="breadcrumblink" href="http://www.parliament.uk/directories/hciolists/alms.cfm"
<span class="breadcrumbtext">MPs by Alphabetical list</a></span>


<span class="breadcrumbtext">&gt;</span>
<span class="breadcrumbtext">Find Your MP</span>


</td>
</tr>

<!-- END: Breadcrumb -->
<tr>
	<td><table cellpadding="0" cellspacing="0" border="0" class="contenttable">
	<tr id="screen">
		<td width="130"><img src="/i/hcoi/trans.gif" alt="The United Kingdom Parliament" width="130" height="1" border="0"></td>
		<td width="25"><img src="http://www.parliament.uk/images/curve.jpg" alt="The United Kingdom Parliament" width="25" height="22" border="0"></td><td><img src="/i/hcoi/horizontal_line.jpg" alt="The United Kingdom Parliament" width="600" height="22" border="0"></td>
	</tr></table></td>
</tr>
<tr>
	<td><table cellpadding="0" cellspacing="0" border="0" class="contenttable">
	<tr>

		<td valign="top" width="130" id="screen"><table cellpadding="0" cellspacing="0" border="0">
		<!-- START: Left hand menu items -->
		 <TR>
                <TD class=leftmenu align=right><A class=leftmenulinkabout 
                  href="http://www.parliament.uk/directories/hciolists/alms.cfm">MPs 
                  by Alphabetical list </A></TD></TR>
              
<tr>
<td align="left"><img src="http://www.parliament.uk/images/leftmenu_line.jpg" alt="" width="126" height="2" border="0"></td>
</tr>
              
              <TR>
                <TD class=leftmenu align=right><A class=leftmenulinkabout 
                  href="http://www.parliament.uk/directories/hciolists/alcm.cfm">MPs 
                  by Constituency</A></TD></TR>

                  
<tr>
<td align="left"><img src="http://www.parliament.uk/images/leftmenu_line.jpg" alt="" width="126" height="2" border="0"></td>
</tr>

              <TR>
                <TD class=leftmenu align=right><A class=leftmenulinkabout 
                  href="http://www.parliament.uk/directories/hciolists/clomps.cfm">MPs 
                  by County and Unitary Authority </A></TD></TR>
                  
<tr>
<td align="left"><img src="http://www.parliament.uk/images/leftmenu_line.jpg" alt="" width="126" height="2" border="0"></td>
</tr>

              <TR>

                <TD class=leftmenu align=right><A class=leftmenulinkabout 
                  href="http://www.parliament.uk/directories/hcio/party.cfm">MPs 
                  by Party</A></TD></TR>
                  
<tr>
<td align="left"><img src="http://www.parliament.uk/images/leftmenu_line.jpg" alt="" width="126" height="2" border="0"></td>
</tr>

              <TR>
                <TD class=leftmenu align=right><A class=leftmenulinkabout 
                  href="http://www.parliament.uk/directories/hciolists/gender.cfm">MPs 
                  by Gender </A></TD></TR>
                  
<tr>
<td align="left"><img src="http://www.parliament.uk/images/leftmenu_line.jpg" alt="" width="126" height="2" border="0"></td>
</tr>


              <TR>
                <TD class=leftmenu align=right><A class=leftmenulinkabout 
                  href="http://www.parliament.uk/directories/hcio/stateparties.cfm">
Current state of the parties</A></TD></TR>

<tr>
<td align="left"><img src="http://www.parliament.uk/images/leftmenu_line.jpg" alt="" width="126" height="2" border="0"></td>
</tr>


              <TR>
                <TD class=leftmenu align=right><A class=leftmenulinkabout 
                  href="http://www.parliament.uk/useful/politicalparties.cfm">

Political parties represented at Parliament</A></TD></TR>

<tr>
<td align="left"><img src="http://www.parliament.uk/images/leftmenu_line.jpg" alt="" width="126" height="2" border="0"></td>
</tr>

              <TR>
                <TD class=leftmenu align=right><A class=leftmenulinkabout 
                  href="http://www.parliament.uk/directories/hciolists/selmem.cfm">
Select Committee Membership</A></TD></TR>

<tr>
<td align="left"><img src="http://www.parliament.uk/images/leftmenu_line.jpg" alt="" width="126" height="2" border="0"></td>
</tr>

                  
		<!-- END: Left hand menu items -->
	</table></td>
	<td valign="top" background="/i/hcoi/vertical_line.jpg"><img src="/i/hcoi/trans.gif" alt="The United Kingdom Parliament" width="25" height="100%" border="0"></td>
	<td valign="top"><table cellpadding="0" cellspacing="0" border="0" width="600">
		<tr>
			<td><table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td width="60%"><!-- Heading --><h1>Find Your MP - <%= @title %></h1></td><td valign="middle" align="right"><span class="eightpointtext"></span></td>

				</tr>
			</table></td>
		</tr>
		<tr>
			<td class="eightpointtext">
<hr>

		<div id="mid-c600">
			<!-- Start -->
			<div class="introTxt margintop marginbottom">

	</div>			<br />
			<div class="content">

			<%= yield %>
							<!--<a id="Postcode_lookup"></a>
		<form action="/hcoi/redirect.php" method="get">
<div class="leftpadding floatLeft">
	<div class="floatleft" style="width:250px;">
		<div class="alignleft" ><h2>Postcode search</h2></div>
		<div class="margintop">

			<div class="floatleft "><input type="text" name="postcode" class="text"  /></div>
			<div class="floatleft padding20"><input type="submit" name="postcodeSearch" id="postcodeSearch" value="Search" class="searchButton" /></div>
		</div>
	</div>
	<div class="floatLeft normaltext width350" style="width:600px;margin-left:0px;margin-top:10px;font-size:100%";>
		Enter a complete postcode to find out which constituency you are in and who your Member of Parliament is.
	</div>
</form>	
</div><br clear="all" />
			<a id="Member_lookup"></a>

		<form action="/hcoi/redirect.php" method="get">
<div class="leftpadding floatLeft">
	<div class="floatleft" style="width:250px;">
		<div class="alignleft" ><h2>Member search</h2></div>
		<div class="margintop">
			<div class="floatleft"><input type="text" name="member" class="text"  /></div>
			<div class="floatleft padding20"> <input type="submit" value="Search" class="searchButton" /></div>
		</div>

	</div>
	<div class="floatLeft normaltext width350" style="width:600px;margin-left:0px;margin-top:10px;font-size:100%;">
		Enter a member's name.  You can enter part of the MP's name (e.g. Brown) if you are unsure of a spelling.

	</div>
</div>
</form><br  clear="all" />
			<a id="Constituency_lookup"></a>
		<form action="/hcoi/redirect.php" method="get">
<div class="leftpadding floatLeft">
	<div class="floatleft"  style="width:250px;">
		<div class="alignleft" ><h2>Constituency search</h2></div>

		<div class="margintop">
			<div class="floatleft"><input type="text" name="constituency" class="text" /></div>
			<div class="floatleft padding20"><input type="submit" value="Search" class="searchButton" /></div>
		</div>
	</div>
	<div class="floatLeft normaltext width350" style="width:600px;margin-left:0px;margin-top:10px;font-size:100%">
			Enter a constituency name.  You can enter part of a constituency name if you are unsure of a spelling.
	</div>
</div>
</form>-->

			<br clear="all" />

							</div>
			<div class="clearBoth" style="font-size:100%">
			 	If you have any problems using this service please look at the  <a href="http://www.parliament.uk/directories/hcio/findyourmp_help.cfm">help</a> pages or contact the  
			 	<a href="http://www.parliament.uk/directories/hcio.cfm">House of Commons Information Office</a>.
			 </div>
		</div>
		<div style="width:95%;margin-top:20px;padding:5px;">
			<div style="float:left;font-size:80%;font-style:italic;">Source: NSPD 2008, National Statistics. Crown copyright material is reproduced with the permission of the Controller of HMSO and Queen’s Printer for Scotland.</div>

			<div style="float:right;font-size:80%;">&copy;<a href="http://www.parliament.uk/site_information/parliamentary_copyright.cfm">Parliamentary Copyright</a></div>
		
		</div>
	</div>
	
			
</TD></TR></TBODY></TABLE></TD></TR>
        <TR>
          <TD></TD>
          <TD></TD>
          <TD colSpan=2></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></BODY></HTML>

<!--BEGIN-SMB-1.2.3.749.d002-->
<script language="JavaScript" type="text/javascript">
	var st_pg="";
	var st_ai="";
	var st_v=1.0;
	var st_ci="749";
	var st_di="d002";
	var st_dd="st.sageanalyst.net";
	var st_tai="v:1.2.3";
</script>
<script language="JavaScript1.1" type="text/javascript"> st_v=1.1; </script>
<script language="JavaScript1.2" type="text/javascript"> st_v=1.2; </script>
<script language="JavaScript1.1" type="text/javascript" src="//st.sageanalyst.net/tag-749.js">
</script>
<script language="JavaScript" type="text/javascript">
if (st_v==1.0) {
	var st_uj;
	var st_dn = (new Date()).getTime();
	var st_rf = escape(document.referrer);
	st_uj = "//"+st_dd+"/"+st_dn+"/JS?ci="+st_ci+"&di="+st_di+
	"&pg="+st_pg+"&rf="+st_rf+"&jv="+st_v+"&tai="+st_tai+"&ai="+st_ai;
	var iXz = new Image();
	iXz.src = st_uj;
}
</script>

<noscript><img src="//st.sageanalyst.net/NS?ci=749&di=d002&pg=&ai=" alt="" /></noscript>
<!--END-SMB-1.2.3.749.d002-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4296850-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
 
	
</body>
</html>

