<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>UK Parliament - <%= @title ? "#{@title} (Find Your MP)" : "Search (Find Your MP)" %></title>
  <style type="text/css" media="screen, projection">
    @import url("http://news.parliament.uk/wp-content/themes/ukparlnews/styles/news_and_issues.css");
    @import url("http://news.parliament.uk/wp-content/themes/ukparlnews/styles/homepage.css");
    @import url("http://news.parliament.uk/wp-content/themes/ukparlnews/styles/grid.css");
    @import url("http://news.parliament.uk/wp-content/themes/ukparlnews/styles/main.css");
  </style>
  <style type="text/css" media="screen, projection">
    .text code { font-size: 1.3em;}
    .hidden_member { color: grey; font-style: italic }
    .form_field { margin: 1em 0 }
    .fieldWithErrors input, .fieldWithErrors textarea {
      border: solid 1px #cc0000;
      background-color: #ffcccc;
    }
  </style>
<% if @show_postcode_autodiscovery_links %>
  <%= auto_discovery_link_tag(:xml, @url_for_this + ".xml") %>
  <%= auto_discovery_link_tag(:json, @url_for_this + ".json") %>
  <%= auto_discovery_link_tag(:js, @url_for_this + ".js") %>
  <%= auto_discovery_link_tag(:text, @url_for_this + ".text") %>
  <%= auto_discovery_link_tag(:csv, @url_for_this + ".csv") %>
  <%= auto_discovery_link_tag(:yaml, @url_for_this + ".yaml") %>
<% end %>
<% if RAILS_ENV == 'production' %>
  <script language="JavaScript1.1" type="text/javascript">
    <!--
    var gDomain="www.stats.tso.co.uk";
    var gDcsId="dcs8a1rrculeroaqmbjq87oq1_4s7l";
    var gFpcDom=".parliament.uk";
    var gFpc="WT_FPC";
    var gConvert=true;
    if((typeof(gConvert)!="undefined")&&gConvert&&(document.cookie.indexOf(gFpc+"=")==-1)&&(document.cookie.indexOf("WTLOPTOUT=")==-1)){
      document.write("<scr"+"ipt type='text/javascript' SRC='"+"http"+(window.location.protocol.indexOf('https:')==0?'s':'')+"://"+gDomain+"/"+gDcsId+"/wtid.js"+"'><\/scr"+"ipt>");
    }
    -->
  </script>
  <script language="JavaScript1.1" src="http://www.parliament.uk//styles/webtrends.js" type="text/javascript"></script>
<% end %>
</head>
<body>
  <div id="outer_container">
    <div id="inner_container">
      <span class="hidden"><a href="#maincontent">Skip to main content</a></span>
      <div id="banner">
        <div id="banner_top">
          <div id="banner_img">
            <a href="http://www.parliament.uk/"><img src="http://news.parliament.uk/wp-content/themes/ukparlnews/images/parliament-uk.gif" width="300" height="55" alt="United Kingdom Parliament" /></a>
          </div>
          <!--div class="banner_divider">&nbsp;</div-->
          <div id="banner_time">&nbsp;</div>
          <div class="banner_divider">&nbsp;</div>
          <form action="http://www.publications.parliament.uk/cgi-bin/search.pl" method="post">
            <div id="banner_search">
              <h2 class="hidden">Search</h2>
                <label for="search" class="hidden">Search</label>
                <input type="text" name="QUERY00" id="search" class="searchBox" />
                <input type="image" class="searchSubmit" src="http://news.parliament.uk/wp-content/themes/ukparlnews/images/search_button.gif" alt="search" title="search" name="CMD=search.run" />
                <input type="hidden" name="STYPE" value="SIMPLE" />
                <input type="hidden" name="DB" value="semukparl" />
                <input type="hidden" name="SHOWCONCEPT" value="1" />
                <input type="hidden" name="ORGANISE_CODED" value="R:date" />
                <input type="hidden" name="ENDDATE" value="TODAY" />
                <input type="hidden" name="DAYSMINUS" value="730" />
            </div>
          </form>
        </div>
        <div id="main_nav">
          <ul>
            <li class="first"><a href="http://www.parliament.uk/about/">About</a></li>
            <li class="selected"><a href="http://www.parliament.uk/people/">Members &amp; Staff</a></li>
            <li><a href="http://www.parliament.uk/business/">Business</a></li>
            <li><a href="http://www.parliament.uk/publications/">Publications</a></li>
            <li><a href="http://www.parliament.uk/index/">A-Z Index</a></li>
            <li><a href="http://www.parliament.uk/glossary/glossary.cfm">Glossary</a></li>
            <li><a href="http://www.parliament.uk/site_information/contact_us.cfm">Contact</a></li>
          </ul>
        </div>
        <div id="secondary_nav">
          <ul>
            <li><a href="http://www.parliament.uk/business/what_s_on.cfm">What's On</a></li>
            <li><a href="http://www.parliament.uk/business/committees.cfm">Committees</a></li>
            <li><a href="http://www.parliament.uk/business/bills_and_legislation.cfm">Bills &amp; Legislation</a></li>
            <li><a href="http://www.parliament.uk/business/judicial_work.cfm">Judicial Work</a></li>
            <li class="selected"><a href="http://news.parliament.uk">News</a></li>
          </ul>
        </div>
      </div>

      <h1>Find Your MP</h1>
      <div id="breadcrumb">
        You are here:
        <a href="http://www.parliament.uk/">Parliament Home</a> &gt;
        <a href="http://www.parliament.uk/people/">Members &amp; Staff</a> &gt;
        <%= @crumbtrail ? "<a href="'/'">Find Your MP</a> &gt; #{@crumbtrail}" : "Find Your MP" %>
      </div>

      <div id="page_content">
        <div id="leftnav">
          <ul id="sidebarleft">
            <li><a href="http://news.parliament.uk/">News home</a></li>
            <li><a href="http://news.parliament.uk/news-by-subject">All news by subject</a></li>
            <li><a href="http://news.parliament.uk/archive">News archive</a></li>
          </ul>
        </div>

        <div class="spacer">&nbsp;</div>
        <div class="column_wrapper">
          <div class="spacer9">&nbsp;</div>
          <div class="column-460">
            <h2><a name="maincontent" id="maincontent"></a><%= @title ? "#{@title}" : "Search" %></h2>
            <div><%= yield %></div>
          </div>
          <div class="spacer9">&nbsp;</div>
        </div>
        <div class="spacer">&nbsp;</div>

        <div class="column-300">
          <div class="column-300">
            <div class="column_content">
              <a class="text" href="http://feeds.feedburner.com/parliamentnews/"><img src="http://news.parliament.uk/wp-content/themes/ukparlnews/images/feed.gif" width="16" height="16" alt="Parliamentary News RSS" title="Parliamentary News RSS" />&nbsp;Parliamentary News RSS</a>
                <ul class="greybullet text tight">
                  <li><a href="/what-is-rss-more-feeds/">What is RSS/More feeds</a></li>
                  <li class="email"><a href="http://news.parliament.uk/subscribe-by-email/">Subscribe by email</a></li>
                </ul>
                <div class="hspacer">&nbsp;</div>

                <h3 class="section_head">News by subject</h3>
                <div class="column_content">
                  <ul class="greybullet text tight">
                    <li><a href="http://news.parliament.uk/subject/House-of-Commons/">House of Commons</a></li>
                    <li><a href="http://news.parliament.uk/subject/House-of-Lords/">House of Lords</a></li>
                    <li><a href="http://news.parliament.uk/subject/Committees/">Committees</a></li>
                    <li><a href="http://news.parliament.uk/subject/Bills/">Bills</a></li>
                  </ul>
                </div>
                <div class="hspacer">&nbsp;</div>
                <h3 class="section_head">Useful links</h3>
                <div class="column_content">
                  <ul class="greybullet text tight">
                    <li><a href="http://www.parliament.uk/commons/">House of Commons homepage</a></li>
                    <li><a href="http://www.parliament.uk/lords/">House of Lords homepage</a></li>
                    <li><a href="http://services.parliament.uk/bills/">Bills before Parliament</a></li>
                    <li><a href="http://www.parliament.uk/business/committees.cfm">Committees&#8217; homepage</a></li>
                    <li><a href="http://www.parliamentlive.tv/">Video and audio</a></li>
                    <li><a href="http://services.parliament.uk/calendar/">What’s on</a></li>
                  </ul>
                </div>
                <div class="hspacer">&nbsp;</div>
                <h3 class="section_head">Follow Parliament on</h3>
                <div class="column_content">
                  <ul class="greybullet text tight">
                    <li><a href="http://www.flickr.com/photos/25334641@N08">Flickr photostream</a></li>
                    <li><a href="http://lordsoftheblog.wordpress.com">Lords of the blog</a></li>
                    <li><a href="http://www.parliament.uk/podcasts/">Podcasts</a></li>
                    <li><a href="http://parliamentlabs.wordpress.com">Parliament Labs blog</a></li>
                    <li><a href="http://twitter.com/ukparliament">Twitter</a></li>
                    <li><a href="http://youtube.com/UKParliament">Parliament&#8217;s YouTube channel</a></li>
                  </ul>
                </div>
                <div class="hspacer">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
        <div id="footer_nav">
          <ul>
            <li class="first"><a href="http://www.parliament.uk/">Home</a></li>
            <li><a href="http://www.parliament.uk/about/">About</a></li>
            <li><a href="http://www.parliament.uk/people/">Members</a></li>
            <li class="selected"><a href="http://www.parliament.uk/business/">Business</a></li>
            <li><a href="http://www.parliament.uk/publications/">Publications</a></li>
            <li><a href="http://www.parliament.uk/index/">A-Z Index</a></li>
            <li><a href="http://www.parliament.uk/glossary/glossary.cfm">Glossary</a></li>
            <li><a href="http://www.parliament.uk/site_information/contact_us.cfm">Contact Us</a></li>
            <li><a href="http://www.parliament.uk/site_information/help.cfm">Help</a></li>
            <li><a href="http://www.parliament.uk/site_information/privacy_policy.cfm">Privacy Policy</a></li>
            <li><a href="http://www.parliament.uk/site_information/parliamentary_copyright.cfm">Copyright</a></li>
            <% if !current_user %>
              <li><%= link_to "Log In", new_user_session_path %></li>
            <% else %>
              <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
            <% end %>
          </ul>
<% if current_user %>
          <br/>
          <ul>
            <li class="first"><%= link_to 'All constituencies', constituencies_path %></li>
            <li><%= link_to 'Show message audit', url_for(:controller=>'admin',:action=>'index') %></li>
<%   if @constituency %>
            <li><%= link_to 'Edit constituency and member data', edit_constituency_path(@constituency) %></li>
<%   end %>
          </ul>
<% end %>
          <div>	Source: NSPD 2008, National Statistics Crown copyright material is reproduced with the permission of the Controller of HMSO and Queen’s Printer for Scotland
		  </div>
        </div>
        <div class="hspacer">&nbsp;</div>
      </div>
    </div>
  </body>
</html>
