<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>UK Parliament - <%= @title ? "#{@title} (Find Your MP)" : "Search (Find Your MP)" %></title>
  <style type="text/css" media="screen, projection">
    @import url("/stylesheets/fymp.css");
    @import url("/stylesheets/homepage.css");
    @import url("/stylesheets/grid.css");
    @import url("/stylesheets/main.css");
  </style>
<% if @show_postcode_autodiscovery_links %>
  <%= auto_discovery_link_tag(:xml, @url_for_this + ".xml") %>
  <%= auto_discovery_link_tag(:json, @url_for_this + ".json") %>
  <%= auto_discovery_link_tag(:js, @url_for_this + ".js") %>
  <%= auto_discovery_link_tag(:text, @url_for_this + ".text") %>
  <%= auto_discovery_link_tag(:csv, @url_for_this + ".csv") %>
  <%= auto_discovery_link_tag(:yaml, @url_for_this + ".yaml") %>
<% end %>
<% if RAILS_ENV == 'production' %>
  <script language="JavaScript1.1" type="text/javascript">
    <!--
    var gDomain="www.stats.tso.co.uk";
    var gDcsId="dcs8a1rrculeroaqmbjq87oq1_4s7l";
    var gFpcDom=".parliament.uk";
    var gFpc="WT_FPC";
    var gConvert=true;
    if((typeof(gConvert)!="undefined")&&gConvert&&(document.cookie.indexOf(gFpc+"=")==-1)&&(document.cookie.indexOf("WTLOPTOUT=")==-1)){
      document.write("<scr"+"ipt type='text/javascript' SRC='"+"http"+(window.location.protocol.indexOf('https:')==0?'s':'')+"://"+gDomain+"/"+gDcsId+"/wtid.js"+"'><\/scr"+"ipt>");
    }
    -->
  </script>
  <script language="JavaScript1.1" src="http://www.parliament.uk//styles/webtrends.js" type="text/javascript"></script>
<% end %>
</head>
<body>
  <div id="outer_container">
    <div id="inner_container">
      <span class="hidden"><a href="#maincontent">Skip to main content</a></span>
      <div id="banner">
        <div id="banner_top">
          <div id="banner_img">
            <a href="http://www.parliament.uk/"><img src="http://news.parliament.uk/wp-content/themes/ukparlnews/images/parliament-uk.gif" width="300" height="55" alt="United Kingdom Parliament" /></a>
          </div>
          <!--div class="banner_divider">&nbsp;</div-->
          <div id="banner_time">&nbsp;</div>
          <div class="banner_divider">&nbsp;</div>
          <form action="http://www.publications.parliament.uk/cgi-bin/search.pl" method="post">
            <div id="banner_search">
              <h2 class="hidden">Search</h2>
                <label for="search" class="hidden">Search</label>
                <input type="text" name="QUERY00" id="search" class="searchBox" />
                <input type="image" class="searchSubmit" src="http://news.parliament.uk/wp-content/themes/ukparlnews/images/search_button.gif" alt="search" title="search" name="CMD=search.run" />
                <input type="hidden" name="STYPE" value="SIMPLE" />
                <input type="hidden" name="DB" value="semukparl" />
                <input type="hidden" name="SHOWCONCEPT" value="1" />
                <input type="hidden" name="ORGANISE_CODED" value="R:date" />
                <input type="hidden" name="ENDDATE" value="TODAY" />
                <input type="hidden" name="DAYSMINUS" value="730" />
            </div>
          </form>
        </div>
        <div id="main_nav">
          <ul>
            <li class="first"><a href="http://www.parliament.uk/about/">About</a></li>
            <li class="selected"><a href="http://www.parliament.uk/people/">Members &amp; Staff</a></li>
            <li><a href="http://www.parliament.uk/business/">Business</a></li>
            <li><a href="http://www.parliament.uk/publications/">Publications</a></li>
            <li><a href="http://www.parliament.uk/index/">A-Z Index</a></li>
            <li><a href="http://www.parliament.uk/glossary/glossary.cfm">Glossary</a></li>
            <li><a href="http://www.parliament.uk/site_information/contact_us.cfm">Contact</a></li>
          </ul>
        </div>
        <div id="secondary_nav">
          <ul>
            <li class="selected"><a href="http://www.parliament.uk/people/mps_and_lords.cfm">MPs and Lords</a></li>
            <li><a href="http://www.parliament.uk/people/government_and_opposition.cfm">Government and Opposition</a></li>
            <li><a href="http://www.parliament.uk/site_information/allowances.cfm">Allowances and Interests</a></li>
            <li><a href="http://www.parliament.uk/directories/directories31.cfm">Parliamentary Offices</a></li>
          </ul>
        </div>
      </div>

      <h1>Find Your MP</h1>
      <div id="breadcrumb">
        You are here:
        <a href="http://www.parliament.uk/">Parliament Home</a> &gt;
        <a href="http://www.parliament.uk/people/">Members &amp; Staff</a> &gt;
        <%= @crumbtrail ? "<a href="'/'">Find Your MP</a> &gt; #{@crumbtrail}" : "Find Your MP" %>
      </div>

      <div id="page_content">
        <div id="leftnav">
          <ul id="sidebarleft">
            <li><a href="http://www.parliament.uk/directories/hciolists/alms.cfm">MPs by Alphabetical list</a></li>
            <li><a href="http://www.parliament.uk/directories/hciolists/alcm.cfm">MPs by Constituency</a></li>
            <li><a href="http://www.parliament.uk/directories/hciolists/clomps.cfm">MPs by County and Unitary Authority</a></li>
      <li><a href="http://www.parliament.uk/directories/hcio/party.cfm">MPs by Party</a></li>
      <li><a href="http://www.parliament.uk/directories/hciolists/gender.cfm">MPs by Gender</a></li>
      <li><a href="http://www.parliament.uk/directories/hcio/stateparties.cfm">Current state of the parties</a></li>
      <li><a href="http://www.parliament.uk/useful/politicalparties.cfm">Political parties represented at Parliament</a></li>
      <li><a href="http://www.parliament.uk/directories/hciolists/selmem.cfm">Select Committee Membership</a></li>
          </ul>
        </div>

        <div class="spacer">&nbsp;</div>
        <div class="column_wrapper">
          <div class="spacer9">&nbsp;</div>
          <div class="column-460">
            <h2><a name="maincontent" id="maincontent"></a><%= @title ? "#{@title}" : "Search" %></h2>
            <% if flash[:notice] %>
              <div class="text flash">
                <%= flash[:notice] %>
              </div>
            <% end %>
            <div><%= yield %></div>
          </div>
          <div class="spacer9">&nbsp;</div>
        </div>
        <div class="spacer">&nbsp;</div>

<% if !is_admin? %>
        <div class="column-300">
          <div class="column-300">
            <div class="column_content">
                <h3 class="section_head">Help and contacts</h3>
                <div class="column_content">
                  <ul class="greybullet text tight">
                    <li><a href="http://www.parliament.uk/directories/hcio/findyourmp_help.cfm">Help using Find your MP</a></li>
                    <li><a href="http://www.parliament.uk/directories/hcio.cfm">House of Commons Information Office</a></li>
                  </ul>
                </div>
                <div class="hspacer">&nbsp;</div>
                <h3 class="section_head">About Parliament</h3>
                <div class="column_content">
                  <ul class="greybullet text tight">
                    <li><a href="http://www.parliament.uk/about/how/members/mps.cfm">What MPs do</a></li>
                    <li><a href="http://www.parliament.uk/about/how/members/mps_contact.cfm">Contacting your MP</a></li>
                    <li><a href="http://www.parliament.uk/about/how/members/mps_contact/when.cfm">When to contact your MP</a></li>
                    <li><a href="http://www.parliament.uk/about/how/members/mps_contact/what.cfm">What your MP can do for you</a></li>
                    <li><a href="http://www.parliament.uk/about/languages/yourmp.cfm">You and your MP (multiple languages)</a></li>
                  </ul>
                </div>
                <div class="hspacer">&nbsp;</div>
                <h3 class="section_head">Follow Parliament on</h3>
                <div class="column_content">
                  <ul class="greybullet text tight">
                    <li><a href="http://www.flickr.com/photos/25334641@N08">Flickr photostream</a></li>
                    <li><a href="http://lordsoftheblog.wordpress.com">Lords of the blog</a></li>
                    <li><a href="http://www.parliament.uk/podcasts/">Podcasts</a></li>
                    <li><a href="http://parliamentlabs.wordpress.com">Parliament Labs blog</a></li>
                    <li><a href="http://twitter.com/ukparliament">Twitter</a></li>
                    <li><a href="http://youtube.com/UKParliament">Parliament&#8217;s YouTube channel</a></li>
                  </ul>
                </div>
                <div class="hspacer">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
<% end %>
        <div id="footer_nav">
          <ul>
            <li class="first"><a href="http://www.parliament.uk/">Home</a></li>
            <li><a href="http://www.parliament.uk/about/">About</a></li>
            <li><a href="http://www.parliament.uk/people/">Members</a></li>
            <li class="selected"><a href="http://www.parliament.uk/business/">Business</a></li>
            <li><a href="http://www.parliament.uk/publications/">Publications</a></li>
            <li><a href="http://www.parliament.uk/index/">A-Z Index</a></li>
            <li><a href="http://www.parliament.uk/glossary/glossary.cfm">Glossary</a></li>
            <li><a href="http://www.parliament.uk/site_information/contact_us.cfm">Contact Us</a></li>
            <li><a href="http://www.parliament.uk/site_information/help.cfm">Help</a></li>
            <li><a href="http://www.parliament.uk/site_information/privacy_policy.cfm">Privacy Policy</a></li>
            <li><a href="http://www.parliament.uk/site_information/parliamentary_copyright.cfm">Copyright</a></li>
            <% if is_admin? %>
              <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
            <% else %>
              <li><%= link_to "Log In", new_user_session_path %></li>
            <% end %>
          </ul>
<% if is_admin? %>
          <br/>
          <ul>
            <li class="first"><%= link_to 'All constituencies', constituencies_path %></li>
            <li><%= link_to 'Show message audit', url_for(:controller=>'admin',:action=>'index') %></li>
<%   if @constituency %>
            <li><%= link_to 'Edit constituency and member data', edit_constituency_path(@constituency) %></li>
<%   end %>
          </ul>
<% end %>
          <div>	Source: NSPD 2008, National Statistics Crown copyright material is reproduced with the permission of the Controller of HMSO and Queen’s Printer for Scotland
      </div>
        </div>
        <div class="hspacer">&nbsp;</div>
      </div>
    </div>
  </body>
</html>
