%html
  %head
    %title Find your constituency
    <style>body {font-size:1em;margin: 5% 10%;} #search input {font-size:1.5em;} a {text-decoration:none;} strong.highlight {font-style:italic;} input {font-size:1em;} .fieldWithErrors input, .fieldWithErrors textarea {border: solid 1px #cc0000; background-color: #ffcccc; }</style>
  %body
    #search= render :partial => 'layouts/search_form'
    =yield
    = button_to "Enable #{@is_admin ? 'STANDARD USER functions' : 'ADMINISTRATOR functions'}" , :action => :toggle_admin, :controller => 'application'
    %p If you have any problems using this service please look at the  <a href="http://www.parliament.uk/directories/hcio/findyourmp_help.cfm">help</a> pages or contact the <a href="http://www.parliament.uk/directories/hcio.cfm">House of Commons Information Office</a>.