%h1 Editing member
=error_messages_for :member

- @member = @constituency.member
- form_for([:constituency, @member]) do |f|
  %p
    %b Name
    = f.text_field :name

  %p= f.submit "Update"

= link_to 'Back', constituency_path(@constituency)

